{% extends 'main.html' %}

{% block content %}
        <img src={{ post.thumbnail.url }} alt={{ post.title }} width="250"/>
        <strong>{{ post.title }}</strong>
        <p>{{ post.description }}</p>
        <p>{{ post.text }}</p>
        <small>{{ post.create }}</small>
        {% with post.updater as updater %}
        {% if updater %}
            Обновлено {{ updater }}
        {% endif %}
        {% endwith %}
        <p>
        <span>Категория: {{ post.category.title }}</span>
        </p>
        <hr>
        <p>
         <a href="{% url 'post_update' slug=post.slug %}" class="btn btn-sm btn-dark"> Редактировать статью </a>
        </p>
{% endblock %}