<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"> Django Blog 2.0 </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_create' %}"> Добавить статью </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile_detail' slug=user.profile.slug %}">
                            <img class="rounded-circle" width="35" src="{{ user.profile.avatar.url }}"/>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Выйти</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="#">Авторизироваться</a></li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#"> Связаться с нами </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
